Host *
 AddKeysToAgent yes
# UseKeychain yes
 IdentityFile ~/.ssh/id_rsa
 Compression yes
 ServerAliveInterval 60
 ServerAliveCountMax 5
 ControlMaster auto
 ControlPath ~/.ssh/ssh-%r@%h:%p
 ControlPersist 4h
Host master
HostName 192.168.43.170
